<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section>

    <!-- <h2>Task Item</h2> -->
    
    <p><strong></strong>{{ card.name }}</p>
    <!-- <p><strong>Date: </strong>{{ card.date }}</p> -->
    
    <div class="button-container">
        <button class="complete-button" (click)="completeTask()"><i class="fa fa-close" Task></i></button>
        <button class="remove-button" (click)="removeTask()"><i class="fa fa-trash"></i></button>
        <button class="edit-button" (click)="editTask()"><i class="fa pen-to-square">Edit</i></button>
    </div>

</section>
