section {
    background-image: linear-gradient(180deg, rgb(0, 119, 255), rgb(116, 116, 59));
    border-radius: 0;
    padding: 0;
    width: 474px;
    border: solid 2px black;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: end;
}

 .edit-button {
    background-color: dodgerblue;
    border: none; 
    color: white; 
    padding: 6px 10px; 
    font-size: 16px; 
    cursor: pointer;
    font-size: 12px;
    }

.remove-button {
    background-color: rgb(209, 65, 84);
    border: none; 
    color: white; 
    padding: 6px 10px; 
    cursor: pointer;
    font-size: 12px;
    }

.complete-button {
    background-color: dodgerblue;
    border: none; 
    color: white; 
    padding: 6px 10px; 
    font-size: 12px; 
    cursor: pointer;
    }    

.complete-button:hover {
    color: blue;
    }

.remove-button:hover {
    color: blue;
    } 

.edit-button:hover {
    color: blue;
    } 
             




