nav {
    display: flex;
    justify-content: center;
    background: radial-gradient(circle at 10% 20%, rgb(90, 92, 106) 0%, rgb(32, 45, 58) 81.3%);
    margin: 0 300px;
}

a {
    text-decoration: none;
    color: white;
    padding: 0px 150px;
    font-size: 20px;
}

a:hover {
    color: black;
}

