<div class="todo-list-container">
    <hr>
    <form class="add-task">
        <input class="add-task-input" placeholder="Add Todo">
        <button class="task-input">Add Task</button>
    </form>


<div>
    <div class="done-button">
        <p>Task 1</p>
        <div class="buttons">
        <button class="task-done-button">Done</button>
        <button class="task-remove-button">Remove</button>
    </div>
    </div>
    <div class="done-button">
        <p>Task 2</p>
        <div class="buttons">
        <button class="task-done-button">Done</button>
        <button class="task-remove-button">Remove</button>
    </div>
    </div>

</div>
</div>




