#add-task-container {
    display: flex;
    border: 3px;
    outline: 3px outset black;
    border-radius: 5px;
    width: 80vh;
    height: 25vh;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background: #eee;
    border: 20px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
    padding: 10px;
    margin: 10px;
}

#add-task-container h3 {
    color:black
}

.btn-add {
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    margin: 5px;
    padding: 5px;
}

.btn-add:hover {
    color: #3a4ed5;
}

.active-tasks {
   
}

.completed-tasks {
   
}

