<main>
    <div class="">
        <div class="">

            <!-- Add Task Button Section -->
            <div id="add-task-container">
                <form #taskCreationForm [formGroup]="newTodoForm" id="" (ngSubmit)="addToDoTask()">
                    <div class="input-field">
                        <label for="todo-input"><h3>To Do List</h3></label>
                        <input type="text" name="todo-input" id="todo-input" class="" placeholder="Add task" formControlName="todoItem">
                        <button type="submit" class="btn-add">Add</button>
                    </div>
                </form>
            </div>
            <!-- End Task Button Section -->

            <div class="task-container">
                <!-- Active task Section -->
                <div class="active-tasks">
                    <h2>Active Tasks</h2>
                    <div class="active-tasks" *ngFor="let value of toDoList; index as i">
                        <div class="task-name">Name: {{ value.name }}
                        </div>
                        <button class="f" (click)="completeActiveTask(value, i)">Done</button>
                        <button class="" (click)="removeActiveTask(i)">Remove</button>
                        <button (click)="editActiveTask(i)">Edit</button>
                        <ng-container *ngIf="toDoList[i].showEditActiveTaskInput">
                            <label for="edit-active-task"></label>
                        <input type="text" name="edit-active-task" id="edit-active-task" placeholder="Add task">
                        </ng-container>
                    </div>
                </div>
                <!-- End Active Task Section -->

                <!-- Completed Task Section -->
                <div class="completed-tasks">
                    <h2>Completed Tasks</h2>
                    <div class="completed-tasks" *ngFor="let value of completedToDoList; index as i">
                        <div class="task-name">Name: {{ value.name }}
                        </div>
                        <button class="" (click)="removeCompletedTask(i)">Remove</button>
                        <button class="" (click)="showCompletedTaskInput(i)">Edit</button>
                        <ng-container *ngIf="toDoList[i].showEditCompletedTaskInput">
                            <form #taskCreationForm [formGroup]="newTodoForm" id="" (ngSubmit)="editCompletedTask(value, i)">
                                <div class="input-field">
                                    <label for="todo-input"><p>Edit Task<p></label>
                                    <input type="text" name="todo-input" id="todo-input" class="" placeholder="Edit Task Name" formControlName="todoItem">
                                    <button (click)="editCompletedTask(value, i)" type="submit" class="btn-add">Add</button>
                                </div>
                            </form>
                                <!-- <div class="edit-input-field">
                                    <label for="edit-todo-input"><p>Edit Task</p></label>
                                    <input type="text" name="edit-todo-input" id="edit-todo-input" class="" placeholder="Edit task">
                                    <button (click)="editCompletedTask(value, i)" type="submit" class="btn-add">Edit</button>
                                </div> -->
                            
                        </ng-container>
                    </div>
                </div>
                <!-- End Completed Task Section -->
            </div>    
        </div>
    </div>
</main>




